<a href="/" class="btn btn-info " style="margin-top:5px;">Logout</a>
<div class="optionDiv">
    <button type="button" class="btn btn-info">
        <a href="/teacher/viewall" style="text-decoration: none; color: black;">View All Students</a>
    </button>
   
    <button type="button" class="btn btn-info">
        <a href="/teacher/add" style="text-decoration: none; color: black;">Add Student</a>
    </button>
</div>